@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Epilogue", sans-serif;
  list-style: none;
  text-decoration: none;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: hsl(0deg, 0%, 98%);
}
body header {
  width: 100%;
  height: 15vh;
  padding: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
body header .logo {
  width: 100%;
  max-width: 10rem;
}
body header nav {
  width: 100%;
  max-width: 35rem;
  height: 2vh;
  color: hsl(0deg, 0%, 41%);
}
body header nav ul {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  max-width: 35rem;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}
body header nav a {
  color: hsl(0deg, 0%, 41%);
}
body header nav li {
  cursor: pointer;
  transition: 0.4s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 6.2rem;
}
body header nav li:hover {
  color: hsl(0deg, 0%, 8%);
}
body header nav li .rotate {
  transform: rotate(180deg);
  transition: 0.5s;
}
body header nav .todo-list {
  width: 100%;
  max-width: 19rem;
  display: flex;
  justify-content: space-between;
}
body header nav .todo-list .first {
  opacity: 0;
  background-color: white;
  height: 19vh;
  padding: 0.6rem 1.8rem;
  border-radius: 0.8rem;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.06);
  transition: 0.5s;
}
body header nav .todo-list .first .show {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 10rem;
}
body header nav .todo-list .active {
  opacity: 1;
}
body header nav .todo-list .secund {
  opacity: 0;
  background-color: white;
  height: 15vh;
  padding: 0.6rem 0rem;
  border-radius: 0.8rem;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.06);
}
body header nav .todo-list .secund ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0rem 1rem;
  height: 8rem;
  justify-content: space-evenly;
  width: 100%;
  max-width: 35rem;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}
body header nav .todo-list .active {
  opacity: 1;
}
body header .login {
  width: 100%;
  max-width: 12rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: hsl(0deg, 0%, 41%);
}
body header .login .btn-register {
  width: 100%;
  max-width: 7rem;
  height: 3rem;
  border-radius: 0.9rem;
  background-color: hsl(0deg, 0%, 98%);
  color: hsl(0deg, 0%, 41%);
  font-size: 0.96rem;
  transition: 0.4s;
  cursor: pointer;
}
body header .login .btn-register:hover {
  background-color: hsl(0deg, 0%, 8%);
  transform: scale(1.04);
  color: hsl(0deg, 0%, 98%);
}
body header .login .login-login {
  color: hsl(0deg, 0%, 41%);
  transition: 0.4s;
}
body header .login .login-login:hover {
  color: hsl(0deg, 0%, 8%);
}
body .container {
  display: flex;
  justify-content: space-around;
  height: 75vh;
}
body .container .article {
  width: 100%;
  max-width: 33rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
body .container .article h1 {
  font-size: 5rem;
}
body .container .article .article-p {
  text-align: initial;
  font-size: 1.39rem;
  line-height: 1.8rem;
  color: hsl(0deg, 0%, 41%);
}
body .container .article .btn-main {
  width: 100%;
  max-width: 13rem;
  height: 4rem;
  color: hsl(0deg, 0%, 98%);
  background-color: hsl(0deg, 0%, 8%);
  font-size: 1.08rem;
  border: none;
  border-radius: 0.8rem;
  transition: 0.4s;
  cursor: pointer;
}
body .container .article .btn-main:hover {
  opacity: 0.9;
  transform: scale(1.05);
}
body .container .article .images {
  display: flex;
  gap: 3.5rem;
  height: 2rem;
}
body .container .img-container .hero {
  width: 100%;
  height: 39rem;
}/*# sourceMappingURL=main.css.map */