//Neutral

$Almost-White: hsl(0, 0%, 98%);
$Medium-Gray: hsl(0, 0%, 41%);
$Almost-Black: hsl(0, 0%, 8%);


@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Epilogue', sans-serif;
    list-style: none;
    text-decoration: none;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: $Almost-White;
        .menu-left{
            display: none;
        }
        header{
            width: 100%;
            height: 15vh;
            padding: 45px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 2rem;
                .logo{               
                    width: 100%;
                    max-width: 10rem;
                }
                nav{
                    width: 100%;
                    max-width: 35rem;
                    height: 2vh;
                    color: $Medium-Gray;
                        ul{
                            display: flex;
                            justify-content: space-evenly;
                            width: 100%;
                            max-width: 35rem;
                            font-size: 1.25rem;
                            margin-bottom: 1rem;
                        }
                        a{
                            color: $Medium-Gray;
                        }
                        li{
                            cursor: pointer;
                            transition: 0.4s;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            width: 100%;
                            max-width: 6.2rem;
                                &:hover{
                                    color: $Almost-Black;
                                }
                                .rotate{
                                    transform: rotate(180deg);
                                    transition: 0.5s;
                                }
                        }
                        .todo-list{
                            width: 100%;
                            max-width: 19rem;
                            display: flex;
                            justify-content: space-between;
                                .first{
                                    opacity: 0;
                                    background-color: white;
                                    height: 19vh;
                                    padding: 0.6rem 1.8rem;
                                    border-radius: 0.8rem;
                                    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.06);
                                    transition: 0.5s;
                                        .show{
                                            display: flex;
                                            flex-direction: column;
                                            justify-content: space-between;
                                            align-items: center;
                                            height: 10rem;
                                        }
                                    
                                }
                                .active{
                                    opacity: 1;
                                }
                                .secund{
                                    opacity: 0;
                                    background-color: white;
                                    height: 15vh;
                                    padding: 0.6rem 0rem;
                                    border-radius: 0.8rem;
                                    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.06);
                                        ul{
                                            display: flex;
                                            flex-direction: column;
                                            justify-content: space-between;
                                            padding: 0rem 1rem;
                                            height: 8rem;
                                            justify-content: space-evenly;
                                            width: 100%;
                                            max-width: 35rem;
                                            font-size: 1.25rem;
                                            margin-bottom: 1rem;
                                        }
                                        
                                }
                                .active{
                                    opacity: 1;
                                }
                        }
                }
                .login{
                    width: 100%;
                    max-width: 12rem;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    color: $Medium-Gray;
                        .btn-register{
                            width: 100%;
                            max-width: 7rem;
                            height: 3rem;
                            border-radius: 0.90rem;
                            background-color: $Almost-White;
                            color: $Medium-Gray;
                            font-size: 0.96rem;
                            transition: 0.4s;
                            cursor: pointer;
                                &:hover{
                                    background-color: $Almost-Black;
                                    transform: scale(1.04);
                                    color: $Almost-White;
                                }
                        }
                        .login-login{
                            color: $Medium-Gray;
                            transition: 0.4s;
                                &:hover{
                                    color: $Almost-Black;
                                }
                        }
                }
                .menu{
                    display: none;
                }
        }
        .container{
            display: flex;
            justify-content: space-around;
            height: 75vh;
                .article{
                    width: 100%;
                    max-width: 33rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                        h1{
                            font-size: 5rem;
                        }
                        .article-p{
                            text-align: initial;
                            font-size: 1.39rem;
                            line-height: 1.8rem;
                            color: $Medium-Gray;
                        }
                        .btn-main{
                            width: 100%;
                            max-width: 13rem;
                            height: 4rem;
                            color: $Almost-White;
                            background-color: $Almost-Black;
                            font-size: 1.08rem;
                            border: none;
                            border-radius: 0.8rem;
                            transition: 0.4s;
                            cursor: pointer;
                                &:hover{
                                    opacity: 0.9;
                                    transform: scale(1.05);
                                }
                        }
                        .images{
                            width: 100%;
                            display: flex;
                            gap: 3.5rem;
                            height: 2rem;
                        }
                }
                .img-container{
                    .hero{
                        width: 100%;
                        height: 39rem;
                    }
                }
        }
@media (max-width: 375px){
    .menu-left{
        content: "";
        display: none;
        flex-direction: column;
        position: absolute;
        width: 45%;
        height: 100%;
        background-color: white;
        z-index: 1;
            .menu-left-nav{
                text-decoration: none;
                display: flex;
                flex-direction: column;
                padding: 3.8rem 1rem;
                gap: 1.5rem;
                a{
                    color: $Almost-Black;
                }
                .rotate{
                    transform: rotate(180deg);
                    transition: 0.5s;
                }
                .show{
                    display: none;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 9rem;
                        li{
                            cursor: pointer;
                                &:hover{
                                    transform: scale(1.02);
                                    color: black;
                                }
                        }
                }
                .active1{
                    display: flex;
                }
                .show2{
                    display: none;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 5rem;
                        a{
                            cursor: pointer;
                                &:hover{
                                    transform: scale(1.02);
                                    color: black;
                                }
                        }
                }
                .active1{
                    display: flex;
                }
            }
            .btn-left{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                height: 4rem;
                    .login-login{
                        color: $Almost-Black;
                    }
                    .btn-register{
                        width: 100%;
                        max-width: 7rem;
                        height: 2rem;
                        background-color: white;
                        border-radius: 0.70rem;
                        border: 1px black solid;
                        cursor: pointer;
                        transition: 0.4s;
                            &:hover{
                                transform: scale(1.04);
                                background-color: $Almost-Black;
                                color: $Almost-White;
                            }
                    }
            }
        }
    header{
        nav{
            display: none;
        }
        .login{
            display: none;
        }
        .menu{
            display: flex;
                .menu-i{
                    display: flex;
                }
                .x{
                   display: none;
                }
        }
    }
    .container{
        flex-direction: column-reverse;
        height: 86vh;
            .img-container{
                display: flex;
                justify-content: center;
                    .hero{
                        max-width: 30rem;
                        height: 45vh;
                    }
            }
            .article{
                h1{
                    font-size: 2.3rem;
                    text-align: center;
                }
                .article-p{
                    text-align: center;
                    font-size: 1.1rem;
                    margin-bottom: 1rem;
                }
                .btn-main{
                    max-width: 11rem;
                    height: 3.5rem;
                    position: relative;
                    left: 6rem;
                    margin-bottom: 3rem;
                }
                .images{
                    display: flex;
                    gap: 1.3rem;
                        .footer-img{
                            width: 20%;
                        }
                }
            }
    }
}
}